<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Natural Disaster Warnings With Bluesky</h1>

    <div id="tweets-container">
        <% if (tweets.length > 0) { %>
            <% tweets.forEach(tweet => { %>
                <div class="tweet">
                    <strong>@<%= tweet.user %></strong>: <%= tweet.text %>
                    <br><small><%= new Date(tweet.timestamp).toLocaleString() %></small>
                </div>
            <% }); %>
        <% } else { %>
            <p>No tweets available.</p>
        <% } %>
    </div>
  </body>
</html>
